<div class="shopify-section index-section collec">
  
  <div class="page-width rich-text">
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">CBD for Dogs</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>Pets are more than just animals that live in our homes – they’re valued companions and family members that share our lives.  As a pet parent, you understand the weighty responsibility that comes with caring for pets.  It’s your job to keep them safe, healthy, and happy.  When they’re not feeling well, you naturally want to do all you can to improve their situation.</p>
          <p>You’ve probably heard about the growing list of benefits attributed to CBD products for people, but you may not realize that this popular cannabinoid can also be beneficial to pets.  What is CBD for dogs?  Is it safe and effective for man’s best friend?  How do you use it, what can you expect, and how do you know the products you’re getting can be trusted?</p>
          <a class="read-more-show1" href="#">Read More</a> 
          <div class="read-more-content1 hide">
          <p>In order to choose the right CBD products for your dogs, you’ll need to do some research.  Relievet is happy to address the most common questions and concerns related to CBD for dogs.</p>
          <a class="read-more-hide1" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">What is CBD?</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>Let’s start with a basic primer on what, exactly, CBD is.  Most people mistakenly assume that all cannabis is the same, but there are actually two main categories of this plant: marijuana and hemp.  This is a crucial distinction because, while the two plants look similar, their chemical compositions are different.</p>
          <p>Why is this so important?  Although marijuana is now legal in several states for medical and recreational purposes, it has not been legalized at the federal level.  As a result, there are still many legal limitations, and navigating them can be complicated.</p>
          <a class="read-more-show1" href="#">Read More</a> 
          <div class="read-more-content1 hide">
          <p>Hemp, on the other hand, became federally legalized with the passing of the 2018 Farm Bill.  Why hemp specifically?  Hemp is defined in the legislation as containing no more than 0.3% of tetrahydrocannabinol (THC), the chemical compound in cannabis that is responsible for the psychoactive effects associated with marijuana.</p>
          <p>In other words, hemp products won’t produce the “high” that marijuana is known for.  This means that hemp-derived products are legal in all fifty states and can legally be transferred across state lines.  Relievet creates CBD drops for dogs using 100% natural, non-GMO hemp, and all of our products are made in the USA for quality control.</p>
          <p>Now, let’s talk about what CBD actually is.  Cannabidiol, or CBD, is just one of dozens of cannabinoids, or chemical compounds, found in the cannabis plant.  Due to growing research and testing, CBD and other cannabinoids can be isolated and extracted to create products that deliver specific benefits without unwanted side effects.</p>
          <p>CBD for dogs has been indicated for a diverse range of purposes, including providing relief for symptoms of allergies, anxiety, arthritis, cancer, epilepsy, inflammation, pain, seizures, and more.  It’s important to understand that CBD is not a cure for any of these conditions, but rather a supplemental treatment that could provide relief for symptoms, helping your dog to lead a more comfortable and fulfilling life.</p>
          <a class="read-more-hide1" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">What is Broad-Spectrum CBD?</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>When it comes to CBD, there are several different classifications, including full-spectrum, broad-spectrum, and isolate.  These distinctions tell you what is in the CBD product you’re buying.</p>
          <p>An isolate is a product that contains a single cannabinoid, a pure form of one compound that has been isolated from all other cannabinoids, as well as terpenes, flavonoids, and all other parts of the plant.  This type of CBD is typically preferred for those who want high doses of CBD with no flavor, or those who have negative reactions to other cannabinoids.</p>
          <a class="read-more-show1" href="#">Read More</a> 
          <div class="read-more-content1 hide">
          <p>Full-spectrum CBD products are just the opposite.  They contain all of the compounds found in the cannabis plant, including cannabinoids, terpenes, flavonoids, and so on.  These products are typically considered to be the most effective form of CBD, but they contain THC.  Even with hemp-derived CBD, minute traces of THC may be present in full-spectrum products, although they shouldn’t be prevalent enough to produce any noticeable side effects.</p>
          <p>At Relievet, our products are made with broad-spectrum hemp extract.  Broad-spectrum CBD for dogs is similar to full-spectrum products, with the notable exception of THC.  Even though hemp-derived CBD has less than 0.3% THC already, we understand that many pet parents are wary of any THC in their pet products, and don’t want to purchase or handle anything containing THC.</p>
          <p>Broad-spectrum hemp extract delivers the advantages associated with preserving the many chemical compounds found in cannabis, but with all THC removed for the safety of your pets and your peace of mind.  When you want totally THC-free products without sacrificing the enhanced benefits of combined cannabinoids and other compounds (sometimes called the entourage effect), you’ll find what you’re looking for with safe and effective Relievet CBD tinctures for dogs.</p>
          <a class="read-more-hide1" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">Is CBD Legal?</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>Before you purchase CBD drops for dogs, you want to make sure you’re operating within legal parameters.  While hemp-derived CBD products containing less than 0.3% THC are legal in all 50 states, thanks to the passage of the 2018 Farm Bill, other types of CBD may not be legal for medical or recreational purchase in every state due to higher concentrations of THC.</p>
          <p>You don’t have to worry when you purchase CBD products from Relievet.  All of our CBD drops for dogs are made in the USA with 100% natural, non-GMO hemp.  In addition, we rely on organically cultivated, broad-spectrum hemp extract, which means all traces of THC have been removed to ensure safe and effective products that you can trust.</p>
          <a class="read-more-show1" href="#">Read More</a> 
          <div class="read-more-content1 hide">
          <p>Further, we engage in laboratory testing and post results online so you always know what you’re getting and you can verify the quality and content of products for your peace of mind.  Relievet is pleased to provide legal CBD for dogs so that your beloved pets can always get the relief they need for greater health and happiness.</p>
          <a class="read-more-hide1" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">Are CBD Tinctures for Dogs Safe?</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>Before you take any medication, supplement, or other treatment for symptom relief, you want to make sure it’s not only effective, but safe.  You don’t want products that are going to do more harm than good with a slew of unfortunate side effects.  The same sentiment is true when it comes to finding the best products to help your pets cope with symptoms that impact their quality of life.</p>
          <p>CBD products have emerged as an alternative or supplement to a variety of pharmaceutical treatment options, but you still need to know that the products you choose for your pet are safe and effective, and that you’re getting what you pay for.  Is CBD safe for dogs?</p>
          <a class="read-more-show1" href="#">Read More</a> 
          <div class="read-more-content1 hide">
          <p>Overall, CBD has been found to be entirely safe, and side effects are rare.  It doesn’t produce any of the negative side effects often associated with pharmaceuticals and it can provide relief from a variety of symptoms associated with conditions such as anxiety, pain, seizures, and more.</p>
          <p>Relievet products are made with organic, non-GMO, broad-spectrum CBD.  This means the hemp plants our products come from are free of chemical fertilizers and pesticides, and we remove all traces of THC during the extraction process so that you never have to worry about intoxicating effects associated with the “high” produced by THC.  Your dog will enjoy all the benefits of hemp-derived CBD with none of the potential side effects common to other cannabis products.</p>
          <p>It’s important that you follow dosing instructions based on the size/weight of your pet, as well as the symptoms you’re treating.  You can find dosing instructions on product packaging, or try our handy online dosage calculator for your convenience.</p>
          <p>When used properly, CBD tinctures for dogs can offer symptom relief similar to other therapeutic interventions, such as pharmaceuticals, or they can be used as a supplement.  It’s always best to talk to your vet about the right treatment options for your pets, but with proper usage, Relievet CBD for dogs can provide safe and effective symptom relief.</p>
          <a class="read-more-hide1" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">How to Administer CBD Drops for Dogs</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>At Relievet, we know it’s not always easy to administer oral medications.  Many dogs don’t like having droppers stuck down their throats, and you might naturally worry about them biting and breaking glass droppers.</p>
          <p>When you purchase Relievet CBD tinctures for dogs, you’ll find that every aspect of our products was designed with your pets in mind.  Our oral syringes help you to accurately measure dosage so you never exceed recommended limits for your pet.  In addition, our graduated dropper is plastic, so even if your pet bites down, there’s no danger of glass breaking in the mouth.</p>
          <a class="read-more-show1" href="#">Read More</a> 
          <div class="read-more-content1 hide">
          <p>Our CBD drops for dogs are meant to be administered under the tongue for optimal effect, but if you have trouble with this delivery method, you can always add CBD oil to your pet’s food.  Broad-spectrum CBD products contain terpenes and flavonoids that carry the unique flavor profile of the hemp plant, and it may not appeal to dogs.</p>
          <p>Although we’ve added MCT carrier oil from coconuts to create a more palatable flavor, placing CBD in food is always an option to mask the flavor.  If possible, however, it’s best to dose sublingually (under the tongue) for optimal results, as your pet may not eat all food.</p>
          <p>It’s important to follow dosing instructions for your pet, and these are based on size/weight, as well as the symptoms you’re treating.  Typically, CBD drops for dogs can be administered every eight hours or as needed for symptom relief.  While it is unlikely that an overdose could occur, it is not recommended that you exceed dosing instructions.</p>
          <p>Relievet offers a range of CBD tinctures for dogs of different sizes, including the following:</p>
          <ul>
              <li>CBD Oil for Small Dogs (1-15 lbs.) – 150mg</li>
              <li>CBD Oil for Medium-sized Dogs (16-40 lbs.) – 400mg</li>
              <li>CBD Oil for Large Dogs (41-90 lbs.) – 800mg</li>
              <li>CBD Oil for Extra Large Dogs (91-150 lbs.) – 1500mg</li>
          </ul>
          <p>Our easy, online dosage calculator can help you determine the perfect dose for your pet, or you can simply read instructions on product packaging.  It is recommended that you start with small doses to see how your dog reacts before increasing the dosage.  If you accidentally exceed the recommended dosage for your pet, contact your vet for instructions, just as you would if your pet accidentally consumed too much of any other medication or substance.</p>
          <a class="read-more-hide1" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">How Long Do CBD Tinctures for Dogs Take to Work?</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>When you administer CBD for dogs, you naturally want to know how long it will take to relieve pain or other symptoms.  Like most orally ingested products, you can expect uptake within 20-30 minutes.  However, it may take longer for the full effects to set in, depending on the severity of symptoms your pet is experiencing.</p>
          <p>Fine tuning your pet’s dosage may take some time.  If, for example, your pet experiences significant pain symptoms, it may take longer to achieve the full effects of CBD.  If your dog has been living with a chronic, progressive condition, you should anticipate at least a couple of days of regular dosing before noticeable and significant relief is evident.</p>
          <a class="read-more-show1" href="#">Read More</a> 
          <div class="read-more-content1 hide">
          <p>Keep in mind that how you dose your pet could also affect efficacy. Relievet products work best when delivered sublingually (under the tongue).  If your pet spits out some of the products, you have trouble administering, or you opt to add it to food and your dog doesn’t eat all of the food, a full dose may not be administered, and this can diminish the overall effects CBD products.</p>
          <a class="read-more-hide1" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">Is CBD for Dogs the Same as Products for Humans?</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>Although we use the highest quality ingredients, including organic, non-GMO, hemp-derived CBD and 100% natural, coconut-derived MCT oil as a carrier, our products are not designed for human consumption.  It’s always best to keep human and animal products separate – do not give your pets CBD oil made for humans, and vice versa.</p>
          <p>At Relievet, we create products specifically for animal use.  Our dosing recommendations are based on the sizes and weights of animals like dogs and cats, which are significantly less than humans.  Trying to calculate dosage based on sizes/weights outside of our typical parameters could result in miscalculations.  Our products are also intended to treat symptoms for pets, not humans, so we cannot say that they would reliably or effectively treat human symptoms.</p>
          <a class="read-more-show1" href="#">Read More</a> 
          <div class="read-more-content1 hide">
          <p>That said, our products are 100% safe for pet consumption.  We choose ingredients that are high enough quality to be used for human consumption and we submit to thorough testing to ensure safe and effective products and consistent quality.  For liability reasons, however, we recommend that humans DO NOT consume CBD for dogs.</p>
          <a class="read-more-hide1" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">Benefits of CBD for Dogs</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>While testing and research is still underway to determine the full benefits and effects of CBD and other cannabinoids, studies have shown that CBD could have indications for treating symptoms related to a number of physical and mental conditions, not only for humans, but animals as well.  Before you opt to give your furry friend CBD drops for dogs, it’s only natural that you’d want to understand the potential benefits and drawbacks of CBD products.</p>
          <p>First, you should know that cannabinoids already occur naturally in dogs, and they interact with the endocannabinoid system (ECS) to perform a number of functions, including relief of pain and inflammation.  Hemp-derived cannabinoids like CBD interact with the ECS in similar ways, but with more pronounced and long-lasting effects.</p>
          <a class="read-more-show1 hide" href="#">Read More</a> 
          <div class="read-more-content1">

          <div class="accordion_container">
          <div class="accordion_head">CBD could be used to provide physical relief for:<span class="plusminus">+</span>
        </div>
          <div class="accordion_body" style="display: none;">
            <ul>
                <li>Allergies</li>
           <li>Digestive Issues</li>
           <li>Inflammation</li>
           <li>Pain</li>
           <li>Seizures</li>
           <li>Sleeping Problems</li>
           <li>and more</li>
            </ul>
          </div>
          <div class="accordion_head">It could also provide relief for mental issues like:<span class="plusminus">+</span>
        </div>
          <div class="accordion_body" style="display: none;">
            <ul>
                <li>Anxiety</li>
                <li>Dementia</li>
                <li>Depression</li>
                <li>Hyperactivity</li>
                <li>and more</li>
             </ul>
          </div>
          <div class="accordion_head">Finally, it may be indicated as an alternative or supplemental treatment for symptoms of chronic conditions or diseases like:<span class="plusminus">+</span>
        </div>
          <div class="accordion_body" style="display: none;">
            <ul>
                <li>Arthritis</li>
                <li>Cancer</li>
                <li>Epilepsy</li>
                <li>and more</li>
             </ul>
          </div>

        </div>


          <p>Many pet parents are interested in CBD for a variety of reasons, but most appreciate the fact that this natural product is safe, effective, and free of the side effects often associated with pharmaceutical interventions.  It’s important to note that CBD is not a cure for any condition or disease – it is meant to provide symptom relief.  It’s always best to discuss treatment options with your vet before deciding on the best course of action for your pet’s health and wellness.</p>
          <p>That said, hemp-derived CBD tinctures for dogs can provide relief for a wide range of common problems that cause discomfort.  Pain and inflammation are two broad issues that many people treat with CBD for dogs, and both can be related to a vast array of causes.</p>
          <p>For example, it’s not unusual for dogs, especially larger breeds, to develop joint problems, including inflammation and pain, as they age.  There are many avenues to explore when it comes to treatment for such issues, from surgery, to medication, to supplements, but many owners prefer to try natural remedies first, or to use CBD tinctures for dogs in a supplemental capacity.</p>
          <p>While fewer dogs suffer from serious concerns like epilepsy or cancer, CBD may also offer some relief from symptoms associated with these conditions (or with medications your pets take to treat them).  To date, the only FDA approved CBD product is a drug used to treat seizures associated with two rare forms of epilepsy in humans.</p>
          <p>While this product is not intended for use in dogs, regular administration of CBD for dogs could result in less severe symptoms and fewer seizures over time.  Many pet owners prefer this option to epilepsy medications that can cause serious side effects, such as harm to the liver and other organs.</p>
          <p>As for cancer, research is still being done to determine the positive effects of CBD, but studies have shown some promise in the area of slowing the growth of cancerous tumors.  In the meantime, it could help to relieve symptoms associated with cancer treatments like chemotherapy and radiation, including nausea, diminished appetite, and pain, for example.</p>
          <p>Many dogs also suffer from different types of anxiety, particularly in relation to separation from their humans, loud noises, travel, and a variety of other fears.  There are certainly medications indicated for treatment of anxiety and other mental disorders in pets, but the major upside of CBD for dogs is that it doesn’t have any of the side effects frequently associated with these medications, making it a safe and effective alternative that many pet parents prefer to try first.</p>
          <a class="read-more-hide1 hide" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">Will CBD Make My Dog "High"?</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>It’s extremely important that you choose safe, effective, and THC-free CBD for dogs if you want to avoid any unintended side effects.  Unfortunately, it’s not always easy to know what you’re getting, as some products fail to accurately list the contents of their products and the don’t provide testing results to prove their claims.</p>
          <p>When you choose Relievet, you never have to worry about whether or not our CBD tinctures for dogs contain THC.  We know that trust is earned, which is why we not only submit to testing to verify the cannabinoid content of our products, but we post the results online so you always know what you’re getting.</p>
          <a class="read-more-show1 hide" href="#">Read More</a> 
          <div class="read-more-content1">  
          <p>Thorough testing ensures that our products are safe, effective, and THC-free, meaning you never have to worry about intoxication that causes your dog to become “high”, as with some other products.  We use only the highest quality, organic, GMO-free, hemp-derived CBD for dogs, and our broad-spectrum products undergo processing to eliminate all traces of THC for your pet’s comfort and safety.</p>
          <p>With the marketplace for CBD products growing in leaps and bounds, it’s more important than ever to comparison shop and find the trusted products that offer safe and effective relief for your pet’s symptoms.  With testing and transparency, Relievet is a company you can trust to deliver consistent and reliable CBD tinctures for dogs.</p>
          <a class="read-more-hide1 hide" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    <div class="grid">
      <div class="grid__item ">

        <div class="rich-text__heading--large text-center">
          <h3 class="h3">Why is Lab Testing Important?</h3>
        </div>


        <div class="rich-text__text--large rte-setting text-center">
          <p>With the rapid growth of the CBD marketplace, consumers have many choices when it comes to finding relief for their beloved pets.  That said, it’s not always easy to know what you’re getting when you purchase CBD for dogs.  Relievet wants you to know that you can trust our products, which is why we’re committed to transparency.</p>
          <a class="read-more-show1 hide" href="#">Read More</a> 
          <div class="read-more-content1">  
          <p>We proudly submit to lab testing that verifies the cannabinoid profile of our products and shows that they are safe and effective.  Then we post the lab tests on our website for consumer review, so you always know the quality and substance of our products.  As a proud pet parent, you only want the best for your furry friend, and with Relievet CBD tinctures for dogs, you’ll get the safe, reliable, and trusted products you prefer.</p>
          <a class="read-more-hide1 hide" href="#">Read Less</a>
          </div>
        </div>

      </div>
    </div>
    
    
    
</div>


</div>


<!-- <div> 
NOT USING - for cbd for dogs collection - place on collection.liquid to show
{% if collection.handle == 'buy-cbd-for-dogs' %}
   {% section 'collection-cbd-for-dogs' %}

{% endif %}
</div> -->

