.shopify-section.collec {
    padding: 95px 0 0px;
}
.rich-text__heading--large {
    float: left;
    width: 34%;
    margin-right: 5%;
}
.rich-text__heading--large h3 {
    text-align: left;
    color: #000;
    font-size: 33px;
    text-transform: capitalize;
    line-height: 1.4;
}
.rich-text__text--large {
    float: left;
    width: 61%;
    text-align: left !important;
    font-size: 18px;
    line-height: 1.6;
}
.rich-text__text--large p {
    color: #525252;
}
.read-more-show1, .read-more-hide1 {
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 14px;
  font-weight: 400;
    text-decoration: underline;
    color: #29a9e1;
}

.accordion_container {
    width: 100%;
    margin: 30px 0;
}
.accordion_head {
    background-color: #f5f5fa;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 18px;
    margin: 15px 0 0px 0;
    padding: 18px 25px;
    font-weight: 500;
    font-family: Futura,sans-serif;
    line-height: 1.7;
}
.accordion_head span {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
}
.accordion_body {
    background: #f1f1f1;
    padding: 22px 22px;
    font-size: 16px;
    color: #333;
    line-height: 1.8;
}
.accordion_body p {
  padding: 18px 5px;
  margin: 0px;
}

.plusminus {
  float: right;
}
.accordion_head:hover {
    background: #29a9e1;
    color: #fff;
}

dl.price {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
dl.price div {
    display: inline-block !important;
}
.product-card__title {
    text-align: center;
    display: block;
    margin-bottom: 15px;
    color: #000;
    line-height: 1.6;
    font-size: 16px;
    border: none;
}
.yotpo span, .yotpo p, .yotpo a {
    display: inline-block;
}
.yotpo.bottomLine.yotpo-small {
    text-align: center;
    display: block;
}
.collec .grid {
    margin-bottom: 70px;
}
.collec ul {
    padding-left: 28px;
    margin-bottom: 19px;
}
.collec ul li {
    list-style-type: disc;
    margin-bottom: 11px;
}



@media screen and (max-width:767px){
  
  
  
.rich-text__heading--large {
    float: none;
    width: 100%;
    margin-right: 0;
}

.rich-text__text--large {
    float: none;
    width: 100%;
    text-align: center !important;
    font-size: 16px;
    line-height: 1.6;
}
.rich-text__heading--large h3 {
    text-align: center;
    font-size: 25px;
    line-height: 1.6;
}
.accordion_head {
    padding: 10px 10px;
    text-align: left;
}
  .collec ul li {
    text-align: left;
}
  
  
  
  
  
}