/* PageFly Element Styles */
						.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; height: 100%; padding: 10px 15px; text-decoration: none; color: black; text-align: left; outline: none; display: block; position: relative; -webkit-appearance: none; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.kSkqbf .video-wrapper, .kSkqbf .mediaWrapper { padding: 0px; position: initial !important; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.gYNRye { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.gYNRye[disabled] { opacity: 0.7; }
.gYNRye.is-loading, .gYNRye.is-added { pointer-events: none; }
.gYNRye > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.gYNRye.pf-i--left i { margin-right: 0.3em; }
.gYNRye + .sc-oTOtL, .gYNRye.pf-i--right i { margin-left: 0.3em; }
.uJAsR form { margin: 0px; height: 100%; }
.dyIWLb { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.dyIWLb.prev-arrow { left: calc(50% - 16px); }
.dyIWLb.next-arrow { right: calc(50% - 16px); }
.dyIWLb i.fa { font-size: 20px; color: rgb(93, 107, 130); transform: rotate(90deg); }
.dyIWLb.pf-show-nav { opacity: 1; }
.gVbYXX { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.gVbYXX.prev-arrow { left: calc(50% - 16px); top: calc(21px); }
.gVbYXX.next-arrow { right: calc(50% - 16px); bottom: calc(21px); }
.gVbYXX i.fa { font-size: 20px; color: rgb(93, 107, 130); transform: rotate(90deg); }
.gVbYXX.pf-show-nav { opacity: 1; }
.jTAHHU { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.jTAHHU.prev-arrow { left: 16px; top: calc(50% - 16px); }
.jTAHHU.next-arrow { right: 16px; top: calc(50% - 16px); }
.jTAHHU i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.jTAHHU.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .dRtXDN .sc-psbuI { display: none; }
}
.dRtXDN .sc-psbuI { transition: all 0.3s ease 0s; opacity: 1; }
.dRtXDN .sc-psbuI.prev-arrow { left: 16px; top: calc(50% - 16px); }
.dRtXDN .sc-psbuI.next-arrow { right: 16px; top: calc(50% - 16px); }
.dRtXDN .sc-psbuI i.fa { color: rgb(93, 107, 130); transform: none; }
.dRtXDN .sc-psbuI { transition: all 0.3s ease 0s; opacity: 0; }
.dRtXDN .sc-psbuI.prev-arrow { left: -100%; top: calc(50% - 16px); }
.dRtXDN .sc-psbuI.next-arrow { right: -100%; top: calc(50% - 16px); }
.dRtXDN .sc-psbuI i.fa { transform: none; }
.dRtXDN:hover .sc-psbuI { opacity: 1; }
.dRtXDN:hover .sc-psbuI.prev-arrow { left: 16px; }
.dRtXDN:hover .sc-psbuI.next-arrow { right: 16px; }
.jmLyps { position: relative; display: inline-flex; width: 100%; flex-direction: row-reverse; overflow: hidden; }
.jmLyps .sc-qQZrP { position: relative; display: flex; flex: 1 1 auto; }
.jmLyps.pf-show-arrow .sc-psbuI { opacity: 1; }
.jmLyps.pf-show-arrow .sc-psbuI.prev-arrow { left: 16px; }
.jmLyps.pf-show-arrow .sc-psbuI.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .jmLyps .sc-pzLIQ { display: none; }
}
@media (min-width: 1200px) {
}
.fNDgSL { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.fNDgSL .sc-qQZrP { position: relative; display: flex; flex: 1 1 auto; }
.fNDgSL.pf-show-arrow .sc-psbuI { opacity: 1; }
.fNDgSL.pf-show-arrow .sc-psbuI.prev-arrow { left: 16px; }
.fNDgSL.pf-show-arrow .sc-psbuI.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .fNDgSL .sc-pzLIQ { display: none; }
}
@media (min-width: 1200px) {
  .fNDgSL .sc-pzLIQ { display: none; }
}
.dmSzeP { position: relative; display: flex; height: calc(460px); margin-right: 10px; }
.dmSzeP .icon-left { transform: rotate(180deg); }
.dmSzeP .icon-right { right: 0px; }
.dmSzeP .icon-left:hover, .dmSzeP .icon-right:hover { opacity: 0.5; }
.dmSzeP .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.dmSzeP .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; display: flex; flex-direction: column; min-width: 100%; }
.dmSzeP .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.dmSzeP .pf-p-image-small-container .pf-small-img-roll .sc-pjGtN { width: 75px; height: 66.6667px; }
.dmSzeP .pf-p-image-small-container .pf-small-img-roll .sc-pjGtN img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.dmSzeP .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .dmSzeP { display: none; }
}
.eHJUOc { position: relative; display: flex; margin-top: 10px; }
.eHJUOc .icon-left { transform: rotate(180deg); }
.eHJUOc .icon-right { right: 0px; }
.eHJUOc .icon-left:hover, .eHJUOc .icon-right:hover { opacity: 0.5; }
.eHJUOc .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.eHJUOc .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 312px; }
.eHJUOc .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.eHJUOc .pf-p-image-small-container .pf-small-img-roll .sc-pjGtN { width: 44.4px; height: 52.4px; float: left; }
.eHJUOc .pf-p-image-small-container .pf-small-img-roll .sc-pjGtN img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.eHJUOc .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .eHJUOc { display: none; }
}
.gpcTaQ { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gpcTaQ { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gpcTaQ { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .gpcTaQ { display: var(--pf-d-xs); }
}
.gpcTaQ img { border-radius: 4px; width: 100%; }
.gpcTaQ a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .gpcTaQ { margin: 0px; }
}
.bhYosX { position: relative; vertical-align: middle; width: 100%; height: 200px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bhYosX { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bhYosX { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .bhYosX { display: var(--pf-d-xs); }
}
.bhYosX img { border-radius: 4px; width: 100%; }
.bhYosX a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .bhYosX { margin: 0px; }
}
.foYPzm { display: inline-flex; }
.foYPzm input { width: 60px; height: 40px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.foYPzm input[data-hidespinner="true"] { }
.foYPzm input[data-hidespinner="true"]::-webkit-outer-spin-button, .foYPzm input[data-hidespinner="true"]::-webkit-inner-spin-button { -webkit-appearance: none; }
.foYPzm input:not(:first-child) { margin: 0px 4px; }
.foYPzm button { width: 40px; height: 40px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.foYPzm button[data-quantity-disabled="true"] { opacity: 0.2; }
.foYPzm .js-qty { margin: 0px 4px; height: 40px; }
.foYPzm .js-qty button { display: none; }
.ggSnCK[data-pf-type="ProductText"].no-product { text-decoration: none; }
.kpuSv[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.kJgvEj { display: flex; }
.kJgvEj label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.kJgvEj .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .kJgvEj .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .kJgvEj .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .kJgvEj .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-xs); }
}
.kJgvEj .pf-p-variant { display: flex; flex-direction: column; }
.kJgvEj .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
  .kJgvEj .pf-p-variant { flex: 1 1 0%; }
}
.kJgvEj select { min-height: 30px; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.kJgvEj select:focus { outline: none; }
.kJgvEj select option { color: inherit; }
.kJgvEj .pf-p-variant-radio { display: block; align-items: center; flex-wrap: wrap; }
.kJgvEj .pf-p-variant-radio:not(:last-child) { margin-bottom: 8px; }
.kJgvEj .pf-p-variant-radio > div:not(:last-child) { margin-bottom: 8px; }
.kJgvEj .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .kJgvEj { flex-direction: column; }
  .kJgvEj label { display: block; }
  .kJgvEj .pf-p-variant-radio { display: inline-flex; }
}
.bbpodW { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bbpodW { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bbpodW { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bbpodW { grid-gap: var(--pf-s-xs); }
}
.bbpodW.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bbpodW.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.gpmTzN.edit { text-align: center; margin-bottom: 15px; }
.gpmTzN.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b7ee7d51 {
		font-size: 22px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 font-weight: 700;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-e8462acf {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-cfd3b192 {
		margin: 15px;
		 background-color: rgb(255, 255, 255);
		 border-radius: 20px 0px;
		 border-style: solid;
	}
	.__pf .pf-e7862c25 {
		font-size: 22px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 font-weight: 700;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-d47d1980 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-80a2ce87 {
		margin: 15px;
		 background-color: rgb(255, 255, 255);
		 border-radius: 20px 0px;
		 border-style: solid;
	}
	.__pf .pf-877ed5ae {
		margin: 0px;
	}
	.__pf .pf-62959067 {
		font-size: 22px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 font-weight: 700;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-51f23f21 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-21628dc9 {
		color: rgb(255, 255, 255);
		 font-family: Roboto;
		 background-color: rgb(255, 255, 255);
		 border-radius: 20px 0px;
		 margin: 15px;
		 border-style: solid;
		 border-color: rgb(0, 0, 0);
	}
	.__pf .pf-728ccaac {
		font-size: 22px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 font-weight: 700;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-b3f05540 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-40dff67f {
		margin: 15px;
		 background-color: rgb(255, 255, 255);
		 border-radius: 20px 0px;
		 border-style: solid;
	}
	.__pf .pf-3cacbf09 {
		padding-top: 85px;
		 padding-bottom: 85px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0079/3287/0756/t/6/assets/pf-bdc8198c--Artboard-12x.png?v=1588905284");
		 background-size: cover;
		 background-position: 50% 0%;
		 background-attachment: fixed;
	}
	.__pf .pf-4d9685f9 {
		font-size: 30px;
		 font-family: Roboto;
		 line-height: 50px;
		 margin-bottom: 20px;
		 margin-top: 0px;
		 font-weight: 700;
		 background-position: 0% 0%;
	}
	.__pf .pf-85f9a8b3 {
		font-size: 12px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-b31cd745 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-d7457239 {
		font-size: 12px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-39a5ec7a {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-ec7aa671 {
		font-size: 12px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-71ec19ed {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-19edfb43 {
		font-size: 12px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-432d579b {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-579b81c0 {
		list-style-position: inside;
		 list-style-type: none;
		 padding: 0px;
	}
	.__pf .pf-81c00985 {
		margin: 0px;
		 text-align: center;
		 font-family: Roboto;
		 padding-top: 0px;
		 min-height: 1px;
	}
	.__pf .pf-09859c34 {
		box-shadow: rgb(128, 128, 128) 0px 0px 25px;
		 padding: 0px;
	}
	.__pf .pf-34fc91db {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
		 padding-bottom: 85px;
		 text-align: right;
		 margin-top: 85px;
	}
	.__pf .pf-5b10d7b4 {
		text-align: center;
		 font-size: 30px;
		 font-weight: 700;
		 line-height: 50px;
		 color: rgb(51, 51, 51);
		 font-family: Roboto;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-5a74787d {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-87c962b7 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-b75271db {
		text-align: center;
	}
	.__pf .pf-dbf72fc0 {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-b85b8a8e {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-8e1b6860 {
		text-align: center;
	}
	.__pf .pf-6042749b {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-4c999eb8 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-b80f3f3e {
		text-align: center;
	}
	.__pf .pf-3e94664d {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-291205d1 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-d1cd3345 {
		text-align: center;
	}
	.__pf .pf-45a865ea {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-8ec33e32 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-329c2775 {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-27702a0e {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-0e0091bc {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-3a2c573e {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-3e849aac {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-52ec1e55 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-556bef1f {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-905d774d {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-4d390230 {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-0547b51b {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-1b4cc448 {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-3d18459f {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-9f40b3e1 {
		font-family: Roboto;
	}
	.__pf .pf-b3e16c96 {
		font-family: Roboto;
		 padding-bottom: 85px;
		 padding-top: 30px;
	}
	.__pf .pf-6c96affa {
		border-radius: 0px;
		 border-width: 4px;
		 box-shadow: rgb(128, 128, 128) 0px 0px 25px;
		 border-style: none;
		 border-image: initial;
		 padding: 0px;
	}
	.__pf .pf-bf406b6a {
		font-size: 30px;
		 font-family: Roboto;
		 line-height: 50px;
		 margin-bottom: 20px;
		 margin-top: 0px;
		 font-weight: 700;
	}
	.__pf .pf-6b6ac835 {
		font-size: 12px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-35c79efc {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-9efcc8d8 {
		font-size: 12px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-d81700e1 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-00e15f60 {
		font-size: 12px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-60286f85 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-6f85afff {
		font-size: 12px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-ffdb4268 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-4268327d {
		list-style-position: inside;
		 list-style-type: none;
		 padding: 0px;
	}
	.__pf .pf-327d7b24 {
		text-align: center;
		 margin-right: 0px;
		 margin-bottom: 0px;
		 margin-left: 0px;
		 padding-top: 0px;
		 font-family: Roboto;
	}
	.__pf .pf-7b242011 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
		 padding-bottom: 85px;
	}
	.__pf .pf-d84297d4 {
		text-align: center;
		 font-size: 30px;
		 font-weight: 700;
		 line-height: 50px;
		 color: rgb(51, 51, 51);
		 font-family: Roboto;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-d498737d {
		margin-bottom: 20px;
	}
	.__pf .pf-737dae0a {
		margin-bottom: 30px;
		 width: 50px;
		 height: auto;
	}
	.__pf .pf-dbc3958a {
		font-size: 22px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 font-weight: 700;
		 margin-bottom: 15px;
		 margin-top: 0px;
	}
	.__pf .pf-68a370bd {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-70bd0ddb {
		background-color: rgb(255, 255, 255);
		 padding: 50px 40px;
		 box-shadow: rgb(128, 128, 128) 0px 0px 25px;
		 border-top-left-radius: 40px;
		 border-bottom-right-radius: 40px;
	}
	.__pf .pf-0ddbf10f {
		margin-bottom: 30px;
		 width: 50px;
		 height: auto;
	}
	.__pf .pf-48efdbcb {
		font-size: 22px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 font-weight: 700;
		 margin-bottom: 15px;
		 margin-top: 0px;
	}
	.__pf .pf-06be04ea {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-04ea2b68 {
		background-color: rgb(255, 255, 255);
		 padding: 50px 40px;
		 box-shadow: rgb(128, 128, 128) 0px 0px 25px;
		 border-top-left-radius: 40px;
		 border-bottom-right-radius: 40px;
	}
	.__pf .pf-2b68d27d {
		margin-bottom: 30px;
		 width: 50px;
		 height: auto;
	}
	.__pf .pf-71b0fca1 {
		font-size: 22px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 font-weight: 700;
		 margin-bottom: 15px;
		 margin-top: 0px;
	}
	.__pf .pf-02feacda {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-acdaf602 {
		background-color: rgb(255, 255, 255);
		 padding: 50px 40px;
		 box-shadow: rgb(128, 128, 128) 0px 0px 25px;
		 border-top-left-radius: 40px;
		 border-bottom-right-radius: 40px;
	}
	.__pf .pf-f6025299 {
		text-align: center;
	}
	.__pf .pf-5299b1b8 {
		padding-bottom: 85px;
		 background-color: rgb(255, 255, 255);
		 padding-top: 30px;
	}
	.__pf .pf-ae979ea5 {
		text-align: center;
		 font-size: 30px;
		 font-weight: 700;
		 line-height: 50px;
		 color: rgb(51, 51, 51);
		 font-family: Roboto;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-a553a8d0 {
		margin-bottom: 20px;
		 font-family: Roboto;
	}
	.__pf .pf-d01fd845 {
		font-weight: 700;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 color: rgb(51, 51, 51);
		 background: rgb(248, 248, 248);
		 font-size: 18px;
		 font-family: Roboto;
		 margin-bottom: 10px;
		 padding: 20px 0px 20px 20px;
	}
	.__pf .pf-d01fd845[data-active="true"] {
		background-color: rgb(41, 171, 226);
		 color: rgb(255, 255, 255);
		 margin-bottom: 10px;
		 padding-top: 20px;
		 padding-bottom: 20px;
		 padding-left: 20px;
	}
	.__pf .pf-caa6c6fd {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-c6fdeda4 {
		padding-top: 20px;
		 padding-bottom: 30px;
		 padding-left: 20px;
	}
	.__pf .pf-a49849e6 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-e645cd38 {
		font-weight: 700;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 color: rgb(51, 51, 51);
		 background: rgb(248, 248, 248);
		 font-size: 18px;
		 font-family: Roboto;
		 margin-bottom: 10px;
		 padding: 20px 0px 20px 20px;
	}
	.__pf .pf-e645cd38[data-active="true"] {
		background-color: rgb(41, 171, 226);
		 color: rgb(255, 255, 255);
		 margin-bottom: 10px;
		 padding-top: 20px;
		 padding-bottom: 20px;
		 padding-left: 20px;
	}
	.__pf .pf-25645cd7 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-5cd7b7dc {
		padding-top: 20px;
		 padding-bottom: 30px;
		 padding-left: 20px;
	}
	.__pf .pf-dc1a242f {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-2f928044 {
		font-weight: 700;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 color: rgb(51, 51, 51);
		 background: rgb(248, 248, 248);
		 font-size: 18px;
		 font-family: Roboto;
		 margin-bottom: 10px;
		 padding: 20px 0px 20px 20px;
	}
	.__pf .pf-2f928044[data-active="true"] {
		background-color: rgb(41, 171, 226);
		 color: rgb(255, 255, 255);
		 margin-bottom: 10px;
		 padding-top: 20px;
		 padding-bottom: 20px;
		 padding-left: 20px;
	}
	.__pf .pf-b803adfd {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-adfda2a2 {
		padding-top: 20px;
		 padding-bottom: 30px;
		 padding-left: 20px;
	}
	.__pf .pf-a257395a {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4d1d6ac0 {
		font-weight: 700;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 color: rgb(51, 51, 51);
		 background: rgb(248, 248, 248);
		 font-size: 18px;
		 font-family: Roboto;
		 margin-bottom: 10px;
		 padding: 20px 0px 20px 20px;
	}
	.__pf .pf-4d1d6ac0[data-active="true"] {
		background-color: rgb(41, 171, 226);
		 color: rgb(255, 255, 255);
		 margin-bottom: 10px;
		 padding-top: 20px;
		 padding-bottom: 20px;
		 padding-left: 20px;
		 font-family: Roboto;
	}
	.__pf .pf-64f55a97 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-5a972df7 {
		padding-top: 20px;
		 padding-bottom: 30px;
		 padding-left: 20px;
	}
	.__pf .pf-f79280a2 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-a234d73f {
		font-weight: 700;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 color: rgb(51, 51, 51);
		 background: rgb(248, 248, 248);
		 font-size: 18px;
		 font-family: Roboto;
		 margin-bottom: 10px;
		 padding: 20px 0px 20px 20px;
	}
	.__pf .pf-a234d73f[data-active="true"] {
		background-color: rgb(41, 171, 226);
		 color: rgb(255, 255, 255);
		 margin-bottom: 10px;
		 padding-top: 20px;
		 padding-bottom: 20px;
		 padding-left: 20px;
	}
	.__pf .pf-51ffd088 {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-d0884564 {
		padding-top: 20px;
		 padding-bottom: 30px;
		 padding-left: 20px;
	}
	.__pf .pf-647bc829 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-29d6f666 {
		font-weight: 700;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 color: rgb(51, 51, 51);
		 background: rgb(248, 248, 248);
		 font-size: 18px;
		 font-family: Roboto;
		 margin-bottom: 10px;
		 padding: 20px 0px 20px 20px;
	}
	.__pf .pf-29d6f666[data-active="true"] {
		background-color: rgb(41, 171, 226);
		 color: rgb(255, 255, 255);
		 margin-bottom: 10px;
		 padding-top: 20px;
		 padding-bottom: 20px;
		 padding-left: 20px;
	}
	.__pf .pf-7e9f666b {
		font-size: 16px;
		 font-family: Roboto;
		 color: rgb(51, 51, 51);
		 line-height: 25px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-666bf63d {
		padding-top: 20px;
		 padding-bottom: 30px;
		 padding-left: 20px;
	}
	.__pf .pf-3d89c408 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-96855083 {
		padding-top: 30px;
		 padding-bottom: 85px;
		 font-family: Roboto;
	}
	.__pf .pf-770f39da {
		text-align: center;
		 font-size: 30px;
		 font-weight: 700;
		 line-height: 50px;
		 color: rgb(51, 51, 51);
		 font-family: Roboto;
		 margin-top: 0px;
		 margin-bottom: 50px;
	}
	.__pf .pf-55e74857 {
		padding-top: 30px;
		 padding-bottom: 85px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-197450b8 {
		text-align: center;
		 font-size: 30px;
		 font-weight: 700;
		 line-height: 50px;
		 color: rgb(51, 51, 51);
		 font-family: Roboto;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-8b60fa5e {
		margin: 0px;
	}
	.__pf .pf-fa5e7fdd {
		margin: 0px;
	}
	.__pf .pf-7fdd9e84 {
		text-align: center;
		 margin: 0px;
	}
	.__pf .pf-9e847871 {
		margin: 0px;
	}
	.__pf .pf-78710d9d {
		margin: 0px;
	}
	.__pf .pf-1dddbc82 {
		margin: 0px;
	}
	.__pf .pf-bc824f35 {
		margin: 0px;
	}
	.__pf .pf-35293f04 {
		margin-left: 0px;
	}
	.__pf .pf-3f04d42c {
		margin-left: 0px;
	}
	.__pf .pf-2c8008dc {
		margin-top: 0px;
		 margin-right: 0px;
		 margin-bottom: 0px;
		 display: flex;
	}
	.__pf .pf-08dc0891 {
		margin-top: 0px;
		 margin-right: 0px;
		 margin-bottom: 0px;
		 display: flex;
	}
	.__pf .pf-919251ab {
		margin: 0px;
	}
	.__pf .pf-51ab83b0 {
		margin: 0px;
	}
	.__pf .pf-d42802ce {
		padding-bottom: 85px;
		 padding-top: 30px;
	}
	.__pf .pf-aa16a5ba {
		padding-top: 30px;
	}
	.__pf .pf-daae325e {
		text-align: left;
		 font-family: Roboto;
		 line-height: 1.6em;
	}
	.__pf .pf-325e3254 {
		text-align: left;
		 font-family: Roboto;
	}
	.__pf .pf-a79e250e {
		border-radius: 3px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(41, 171, 226);
		 text-align: center;
		 font-family: Roboto;
		 margin-top: 10px;
	}
	.__pf .pf-a79e250e:hover {
		background-color: rgb(35, 131, 172);
		 margin-top: 10px;
	}
	.__pf .pf-250e00ed {
		text-align: center;
	}
	.__pf .pf-e53ea47e {
		font-size: 28px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-a47e1b48 {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-0d77a5db > button {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-89cf56a7 {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 font-size: 16px;
		 margin-left: 15px;
	}
	.__pf .pf-14448113 {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-b7ee7d51 {
		font-size: 18px;
	}
	.__pf .pf-e7862c25 {
		font-size: 18px;
	}
	.__pf .pf-877ed5ae {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-62959067 {
		font-size: 18px;
	}
	.__pf .pf-728ccaac {
		font-size: 18px;
	}
	.__pf .pf-3cacbf09 {
		background-attachment: scroll;
		 background-size: cover;
		 background-repeat: repeat-y;
	}
	.__pf .pf-4d9685f9 {
		font-size: 30px;
		 margin-bottom: 15px;
		 line-height: 1.5em;
	}
	.__pf .pf-81c00985 {
		margin: 0px;
	}
	.__pf .pf-09859c34 {
		margin-top: 50px;
	}
	.__pf .pf-34fc91db {
		margin-right: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-1b4cc448 {
		margin: 30px 100px 0px;
	}
	.__pf .pf-b3e16c96 {
		border-style: none;
		 text-align: center;
		 font-family: Roboto;
	}
	.__pf .pf-6c96affa {
		margin-top: 30px;
		 width: 100%;
		 height: auto;
	}
	.__pf .pf-bf406b6a {
		font-size: 30px;
		 margin-bottom: 15px;
		 line-height: 1.5em;
	}
	.__pf .pf-327d7b24 {
		margin: 50px 0px 0px;
	}
	.__pf .pf-7b242011 {
		margin-right: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-737dae0a {
		width: 50px;
		 height: auto;
	}
	.__pf .pf-dbc3958a {
		font-size: 18px;
	}
	.__pf .pf-70bd0ddb {
		margin: 15px;
	}
	.__pf .pf-0ddbf10f {
		width: 50px;
		 height: auto;
	}
	.__pf .pf-48efdbcb {
		font-size: 18px;
	}
	.__pf .pf-04ea2b68 {
		margin: 15px;
	}
	.__pf .pf-2b68d27d {
		width: 50px;
		 height: auto;
	}
	.__pf .pf-71b0fca1 {
		font-size: 18px;
	}
	.__pf .pf-acdaf602 {
		margin: 15px;
	}
	.__pf .pf-5299b1b8 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-a553a8d0 {
		margin-bottom: 0px;
	}
	.__pf .pf-d01fd845 {
		font-size: 16px;
	}
	.__pf .pf-e645cd38 {
		font-size: 16px;
	}
	.__pf .pf-2f928044 {
		font-size: 16px;
	}
	.__pf .pf-4d1d6ac0 {
		font-size: 16px;
	}
	.__pf .pf-a234d73f {
		font-size: 16px;
	}
	.__pf .pf-29d6f666 {
		font-size: 16px;
	}
	.__pf .pf-96855083 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-770f39da {
		margin-bottom: 20px;
		 font-size: 30px;
	}
	.__pf .pf-55e74857 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-197450b8 {
		margin-bottom: 20px;
		 font-size: 30px;
	}
	.__pf .pf-7fdd9e84 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-0d9d1ddd {
		margin-left: 0px;
		 min-height: 1px;
	}
	.__pf .pf-89cf56a7 {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-3cacbf09 {
		background-attachment: fixed;
		 background-position: 50% 0%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-3cacbf09 {
		background-attachment: scroll;
		 background-size: cover;
		 background-position: 50% 0%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0079/3287/0756/t/6/assets/pf-2cf31956--bgsalverelievetleaf.png?v=1588864972&selected");
	}
	.__pf .pf-81c00985 {
		padding-right: 0px;
	}
	.__pf .pf-09859c34 {
		margin-top: 50px;
	}
	.__pf .pf-1b4cc448 {
		margin-left: 200px;
		 margin-right: 200px;
	}
	.__pf .pf-b3e16c96 {
		text-align: center;
		 font-family: Roboto;
	}
	.__pf .pf-327d7b24 {
		padding-right: 0px;
		 margin-top: 50px;
	}
	.__pf .pf-70bd0ddb {
		margin: 15px;
	}
	.__pf .pf-04ea2b68 {
		margin: 15px;
	}
	.__pf .pf-acdaf602 {
		margin: 15px;
	}
	.__pf .pf-89cf56a7 {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
						

 