/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.detHrZ { margin: 0px -15px; }
.detHrZ .pf-c { padding: 15px; }
.detHrZ .blog__infos h3 a, .detHrZ .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.detHrZ .blog__image img { vertical-align: middle; width: 100%; }
.detHrZ .article--horizontal { display: -webkit-flex; }
.detHrZ .article--horizontal h3 { margin: 0px 0px 10px; }
.detHrZ .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.detHrZ .article--horizontal .blog__image { flex: 1 1 0%; }
.detHrZ .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__metas { margin-bottom: 12px; font-size: 12px; }
.detHrZ .blog__metas span + span { margin-left: 10px; }
.detHrZ .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.detHrZ.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.detHrZ.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-438638ba {
		font-size: 46px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 50px;
	}
	.__pf .pf-ddde4024 {
		font-family: Barlow;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-40240f3b {
		margin-bottom: 30px;
	}
	.__pf .pf-a23b6042 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-cc9e51c5 {
		line-height: 27px;
		 border-style: solid;
		 padding: 30px;
		 border-color: rgb(248, 248, 248);
		 font-size: 17px;
		 font-family: Barlow;
		 text-decoration: underline;
		 color: rgb(41, 171, 226);
		 list-style-type: none;
		 margin-bottom: 0px;
	}
	.__pf .pf-51c51f01 {
		text-align: left;
		 padding-left: 150px;
		 padding-right: 150px;
	}
	.__pf .pf-fb57a5c7 {
		margin-top: -50px;
	}
	.__pf .pf-a5c7a396 {
		text-align: center;
		 padding-left: 100px;
		 padding-right: 100px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-a396a9db {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-1fdaef0e {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-e2d6461e {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 50px;
	}
	.__pf .pf-f6fe84bb {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-9eaa0e14 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 50px;
	}
	.__pf .pf-6ae56abd {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-6abd7a60 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-e9225a0d {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-2c32bc40 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 0px;
	}
	.__pf .pf-cd0a5229 {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-130fd841 {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-dd8d9c6d {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-99f9be98 {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-c81b08e0 {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-ccd3fa1a {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 font-weight: 700;
	}
	.__pf .pf-fa1adb47 {
		list-style-position: inside;
		 list-style-type: disc;
		 background-color: rgb(248, 248, 248);
		 padding: 30px;
		 margin-bottom: 0px;
	}
	.__pf .pf-13db9704 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-97040607 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-1ac86f91 {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-4c16df3b {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-8504c6b4 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-c6b4ce40 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-5607bab2 {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-7c39e55b {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 0px;
	}
	.__pf .pf-f2edaa7e {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-1c511a58 {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-4b14c0f7 {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-f62027c1 {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-41294dfe {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 20px;
		 font-weight: 700;
	}
	.__pf .pf-46b4f454 {
		font-family: Barlow;
		 font-size: 17px;
		 line-height: 1.6em;
		 margin-bottom: 0px;
		 font-weight: 700;
	}
	.__pf .pf-def7135e {
		list-style-position: inside;
		 list-style-type: disc;
		 background-color: rgb(248, 248, 248);
		 padding: 30px;
		 margin-bottom: 0px;
		 margin-top: 30px;
	}
	.__pf .pf-11cc3b73 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-3b73987a {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-e7608dcf {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-191f2822 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-fb62c2a0 {
		font-size: 24px;
		 font-family: Barlow;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-ae1d141a {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-b0fac084 {
		font-size: 24px;
		 line-height: 1.6em;
		 margin-bottom: 30px;
		 font-family: Barlow;
	}
	.__pf .pf-96a20fc1 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-40da09c8 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-78a1d17b {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-09c8c069 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-47d3e870 {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-71cea782 {
		font-size: 23px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-e49a0911 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-3721591a {
		font-size: 24px;
		 font-family: Barlow;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-3550b540 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-ca2ae072 {
		font-size: 24px;
		 font-family: Barlow;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-d2387a18 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-30a04607 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-46077018 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-ad8d7236 {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(41, 171, 226);
	}
	.__pf .pf-0e2a6ee4 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-35ad90c3 {
		font-size: 21px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-90c3b667 {
		font-size: 17px;
		 font-family: Barlow;
		 line-height: 1.6em;
		 margin-bottom: 30px;
	}
	.__pf .pf-da64de51 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-de51f549 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-3fe8f84e {
		text-align: center;
		 font-size: 20px;
		 font-family: Barlow;
	}
	.__pf .pf-f84e78e4 .blog__infos > h3 > a {
		font-family: Barlow;
		 font-size: 18px;
		 line-height: 1.5em;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-f84e78e4 > div > .blog__article {
		font-family: Barlow;
		 font-size: 13px;
		 font-weight: 400;
		 color: rgb(136, 136, 136);
	}
	.__pf .pf-3b992466 {
		background-color: rgb(248, 248, 248);
		 padding-top: 65px;
		 padding-bottom: 65px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-438638ba {
		font-size: 34px;
		 margin-top: 0px;
	}
	.__pf .pf-38f5b44f {
		font-size: 21px;
	}
	.__pf .pf-51c51f01 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-fb57a5c7 {
		margin-top: 0px;
	}
	.__pf .pf-a5c7a396 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-a396a9db {
		padding-bottom: 40px;
		 padding-top: 0px;
	}
	.__pf .pf-edd8eb0d {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-6ae56abd {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-6abd7a60 {
		padding-bottom: 40px;
		 padding-top: 0px;
	}
	.__pf .pf-13db9704 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-97040607 {
		padding-bottom: 40px;
		 padding-top: 0px;
	}
	.__pf .pf-8504c6b4 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c6b4ce40 {
		padding-bottom: 40px;
		 padding-top: 0px;
	}
	.__pf .pf-11cc3b73 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3b73987a {
		padding-bottom: 40px;
		 padding-top: 0px;
	}
	.__pf .pf-40da09c8 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-eb0d8078 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-78a1d17b {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-09c8c069 {
		padding-bottom: 40px;
		 padding-top: 0px;
	}
	.__pf .pf-30a04607 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-46077018 {
		padding-bottom: 40px;
		 padding-top: 0px;
	}
	.__pf .pf-da64de51 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-de51f549 {
		padding-bottom: 40px;
		 padding-top: 0px;
	}
	.__pf .pf-3b992466 {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-3fe8f84e {
		text-align: center;
		 font-size: 20px;
	}
	.__pf .pf-3b992466 {
		padding-top: 20px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-40240f3b {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-51c51f01 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a5c7a396 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a396a9db {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-6ae56abd {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-13db9704 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-8504c6b4 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-11cc3b73 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-40da09c8 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-eb0d8078 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-78a1d17b {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-30a04607 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-da64de51 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-f84e78e4 {
		text-align: center;
		 padding: 150px;
	}
	.__pf .pf-f84e78e4 .blog__infos > h3 > a {
		text-align: center;
	}
	.__pf .pf-f84e78e4 > div > .blog__article {
		text-align: center;
	}
	.__pf .pf-f84e78e4 .blog__infos > .blog__excerpt {
		text-align: center;
		 padding: 0px;
		 margin: 50px;
	}
}
						

 